# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
media/
staticfiles/
.env
*.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db

# Пакеты
*.egg-info/
dist/
build/
*.egg

# Виртуальные окружения
venv/
env/
ENV/
env.bak/
venv.bak/
